*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 40px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 2px solid white;
    outline-offset: 3px;
}

.card{
    width: 25%;
    height: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px 2px black;
}

.image{
    background-color: royalblue;
    height: auto;
    text-align: center;
    padding: 25px;
    border-radius: 15px 15px 0px 25px;
}

.lower{
    background-color: royalblue;
    border-radius: 15px 0px 16px 16px;
}

.content{
    background-color: white;
    border-radius: 0px 25px 15px 15px;
    text-align: center;
    padding: 10px;
}

button{
    background-color: royalblue;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    border: none;
    color: white;
}

p{
    font-size: small;
}

button:hover{
    transform: scale(1.1);
    transition: 1s;
    background-color: darkgoldenrod;
}