*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bakcground_image{
    background-image: url("./photo_2024-05-17_11-54-42.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: black;
}

.option{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.option a:hover{
    color: orange;
}

.button{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.button a:nth-child(1){
    border: 1px solid orange;
    color: orange;
    padding: 10px;
    border-radius: 10px;
}

.button a:nth-child(2){
    border: 1px solid orange;
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.button a:hover{
    color: white;
    background-color: black;
    border: 1px solid black;
}

.home_head{
    height: calc(100svh - 100px);
}

.home_head1{
        display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.c1{
    width: 20%;
    border-right: 2px solid black;
}

.c2{
    width: 20%;
    border-right: 2px solid black;
}

.c3{
    width: 20%;
    border-right: 2px solid black;
}

.c4{
    width: 20%;
}

.home_head{
    text-align: center;
}

.container1{
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: space-around;
}

.c1c1{
    width: 20%;
    padding: 10px;
}

.c1c2{
    width: 40%;
    padding: 20px;
}

.c1c3{
    width: 20%;
    padding: 20px;
}

.line{
    display: flex;
}

.container2{
    text-align: center;
}

.container3{
    display: flex;
    justify-content: space-around;
}

.c3c1, .c3c2, .c3c3{
    width: 16%;
    text-align: center;
}

.container4{
    display: flex;
    justify-content: space-around;
}

.c4c1{
    background-image: url("./pexels-myersmc16-919179-removebg-preview.png");
    background-size: 100% 100%;
    background-color: rgb(245, 194, 194);
    padding: 30px;
    height: auto;
    border-radius: 20px;  
    width: 60%;
}

.con_2{
    background-color: white;
    border-radius: 20px;
    width: 20%;
    height: 115px;
    padding: 20px;
    text-align: center;
    p{
        opacity: 0.6;
    }
}

.con_1{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    align-self: end;
}

.child_container{
    display: flex;
    height: 300px;
    flex-direction: row;
    justify-content: end;
}

.c4c2{
    padding: 20px;
    background-color: whitesmoke;
}

.c4c2_1{
    background-color: white;
    padding: 20px; 
}

.c4c2_2{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}