*{
    margin: 0;
    
    padding: 0;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

div{
    height: 100px;
    width: 100px;
    background-color: powderblue;
}

.margin{
    margin: 50px;
}

.padding{
    padding: 50px;
}

.outline{

    border: 2px solid black;
    outline: 4px dotted blue;
    outline-offset: 5px;
    padding: 20px;
    margin: 20px;
}