.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

div{
    height: 100px;
    width: 100px;
    background-color: powderblue;
}

.margin{
    margin: 50px;
}

.padding{
    padding: 50px;
}