*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bakcground_image{
    background-image: url("./photo_2024-05-17_11-54-42.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo{

    img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
}

a{
    text-decoration: none;
    color: black;
}

.option{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.option a:hover{
    color: orange;
}

.button{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.button a:nth-child(1){
    border: 1px solid orange;
    color: orange;
    padding: 10px;
    border-radius: 10px;
}

.button a:nth-child(2){
    border: 1px solid orange;
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.button a:hover{
    color: white;
    background-color: black;
    border: 1px solid black;
}

.home_head{
    height: calc(100svh - 100px);
}

.home_head1{
    display: flex;
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.c1{
    width: 25%;
    border-right: 2px solid black;
}

.c2{
    width: 25%;
    border-right: 2px solid black;
}

.c3{
    width: 25%;
    border-right: 2px solid black;
}

.c4{
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.home_head{
    text-align: center;
}

.container1{
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: space-around;
}

.c1c1{
    width: 20%;
    padding: 10px;

    img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
}

.c1c2{
    width: 40%;
    padding: 20px;
}

.c1c3{
    width: 20%;
    padding: 20px;
}

.line{
    display: flex;
}

.container2{
    text-align: center;
}

.container3{
    display: flex;
    justify-content: space-around;
}

.c3c1, .c3c2, .c3c3{
    width: 16%;
    text-align: center;

    img{
        height: 60px;
        width: 60px;
    }
}

.container4{
    display: flex;
    justify-content: space-around;
}

.c4c1{
    background-image: url("./pexels-myersmc16-919179-removebg-preview.png");
    background-size: 100% 100%;
    background-color: rgb(245, 194, 194);
    padding: 30px;
    height: 500px;
    border-radius: 20px;  
    width: 45%;
    display: flex;
}

.c4c1c1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .con_1{
        
    }

    .con_2{
        background-color: white;
        border-radius: 15px;
        padding: 10px;
        width: 60%;;
        text-align: center;
    }
}

.c4c1c2{
    width: 50%;
    display: flex;
    justify-content: end;
    .con_3{
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        width: 45%;
        text-align: center;
        height: 130px;

        p{
            opacity: 0.6;
        }
    }
}




.c4c2{
    width: 40%;
    height: 500px;
    padding: 20px;
    background-color: whitesmoke;
}

.text{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.c4c2_1{
    background-color: white;
    height: 100px;
}

.c4c2_2{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.c4c2_3 div{
    background-color: white;
    display: flex;
    gap: 10px;
    height: 32px;
}

.c4c2_3_1 a:nth-child(1){
    border: 1px solid orange;
    background-color: orange;
    color: white;
    padding: 6px;
    border-radius: 10px;
}

.c4c2_3_1 a:nth-child(2){
    padding: 6px;
    border-radius: 10px;
}

.c4c2_3_1 a:hover{
    color: white;
    background-color: black;
    border: 1px solid black;
}

.container5_1{
    display: flex;
    justify-content: space-around;
}

.c5c1{
    width: 80%;
    background-color: white;
    display: flex;
    height: 300px;
    justify-content: space-around;
    padding: 20px;

    .c5c1c1{
        border-radius: 15px;
        width: 22%;
        background-image: url("images/Explore1.webp");
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        padding: 20px;
    }
    .c5c1c2{
        border-radius: 15px;
        width: 22%;
        background-image: url("images/Explore2.jpg");
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        padding: 20px;
    }
    .c5c1c3{
        border-radius: 15px;
        width: 22%;
        background-image: url("images/Explore3.jpeg");
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        padding: 20px;
    }
    .c5c1c4{
        border-radius: 15px;
        width: 22%;
        background-image: url("images/Explore4.jpg");
        background-size: cover;
        color: white; 
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        padding: 20px;
    }
}

.container6{
    background-color: rgb(225, 218, 204);
    padding: 140px; 
}

.c6c1{
    display: flex;
    width: 100%;
    justify-content: space-between;

    .c6c1c1{
        
    }
    
    .c6c1c2{
        align-self: end;
        a{
            color: white;
            background-color: black;
            border-radius: 15px;
            padding: 14px;
        }
    }    
}

.c6c2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
.c6c2>div{
    background-color: white;
    border-radius: 15px;
}

.content{
    padding: 0px 20px 0px 20px;
}

.container7{
    background-image: url("./photo_2024-05-17_10-32-38.jpg");
    background-size: 100% 100%;
    padding: 80px;
    display: flex;
}

.c7c1{
    width: 50%;
    height: 300px;
    color: white;
}

.c7c1 a{
    color: white;
    background-color: orange;
    border-radius: 60px;
    padding: 14px 20px;
}
.c7c2{
    width: 50%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    
}

.container9{
    display: flex;
    justify-content: space-between;
}

.c9c1{
    margin: 80px;
    background-image: url("photo_2024-05-17_10-32-32.jpg");
    width: 40%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.c9c2{
    margin: 80px;
    width: 50%;
    padding: 50px 0px;
}

.container10{
    background-color: antiquewhite;
}

.container11{
    background-image: url("photo_2024-05-17_10-32-38.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}

.container12{
    text-align: center;
    padding: 100px;
}

.container13{
    display: flex;
    justify-content: space-evenly;
}

li{
    opacity: 0.6;
}